@charset "UTF-8";
@media only screen and (max-device-width: 900px){
    body{width: 100%;}
}
*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E6E6D3;

}
header{
    height: 200px;
    width: 100vw;
    background-image: linear-gradient(to bottom, #50af7b, rgb(4, 61, 29));
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.473);
}
header > div{
    text-align: center;   
}
#titulo{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2em;
}
#subtitulo{
    font-size: 0.9em;
    justify-content: justify;
}
nav{
    position: absolute;
    margin-top: 50px;
}
nav > a{
    text-decoration: none;
    padding-left: 25px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.473);
    font-size: 0.9em;
    font-weight: 700;
    width: auto;
    height: 3em;
    padding: 0.9em;
    margin: 0 10px;
}
nav > a:hover{
    background: #2aaa64;
    color: #0F5930;
    border-radius:25%;
}
main{
    position: relative;
    display: flex;
    width: 75vw;
    background: #fff;
    margin: 0 10%;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.425);
    
}

main h2{
    position: relative;
    height: 30px;
    font-family: 'idroid', sans-serif;
    padding-top: 15px;
    color: #0C512A;
    align-items: center;
    justify-content: center;
    
}
strong{
    font-weight: 750;
    color: #21894F;
}
.paragrafo{
    position: relative;
    text-indent: 2em;
    font-size: 14px;
    align-items: center;
    margin: 15px 0 ;
    line-height: 2em;
    text-align: justify;
    text-justify: inter-word;
    
}

h3{
    font-family: 'idroid', sans-serif;
    position: relative;
    width: 100%;
    height: auto;
    margin: 15px 0;
    background-image: linear-gradient(to right, #93e2b7, transparent);
    color: #21894F;
    padding-left: 10px;    
}

picture{
    align-items: center;
}
.imgs{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.video{
    position: relative;
    background-color:#0C512A ;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.linkImg{
    width: 1em;
    height: 1em;
}
.links{
    background:#74f0ab;
    text-decoration: none;
    color:#0C512A;
    padding: 0.1em;
}
.links:hover{
    text-decoration: underline;
}

.tabela{
    position: relative;
    display:block;
    width: auto;
    padding: 15px 30px;
    background: #fff;

}
#tabela{
    position: relative;
    width: 100%;
    margin: 15px 15px 0 15px;

}
h4{
    width: 100%;
    background:#0C512A;
    color: #fff;
    height: 2em;
    padding-left: 15px;
    display: flex;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    align-items: center;
    margin-bottom: 0;
}
#quadro{
    position: relative;
    width: 100%;
    background: #93e2b7;
    margin-top: 0;
}

.lista{
    list-style: none;
}
.lista li{
    list-style: none;
}